<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.dao.MyFileDao">
    <resultMap id="FileMap" type="com.zzh.entity.MyFile">
        <id     column="file_id"     property="fileId"      jdbcType="INTEGER"  />
        <result column="file_name"   property="fileName"    jdbcType="VARCHAR"  />
        <result column="type"        property="type"        jdbcType="VARCHAR"  />
        <result column="path"        property="path"        jdbcType="VARCHAR"  />
        <result column="description" property="description" jdbcType="VARCHAR"  />
    </resultMap>

    <select id="findOne" parameterType="java.lang.Long" resultMap="FileMap">
        SELECT *
        FROM sys_file
        WHERE file_id = #{0}
    </select>

    <insert id="insertOne" useGeneratedKeys="true" keyProperty="fileId" parameterType="com.zzh.entity.MyFile">
        INSERT INTO sys_file
        (file_name, type, path, description)
        VALUES
        (#{fileName}, #{type}, #{path}, #{description})
    </insert>

</mapper>