<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzh.dao.UserDao">
    <resultMap id="OrgMap" type="com.zzh.entity.Organization">
        <id     column="id"             property="orgId"        jdbcType="INTEGER"  />
        <result column="name"           property="orgName"      jdbcType="VARCHAR"  />
        <result column="parent_id"      property="parentOrgId"  jdbcType="INTEGER"  />
        <result column="created_date"   property="createdDate"  jdbcType="TIMESTAMP"/>
        <result column="created_by"     property="createdBy"    jdbcType="VARCHAR"  />
        <result column="modified_date"  property="modifiedDate" jdbcType="TIMESTAMP"/>
        <result column="modified_by"    property="modifiedBy"   jdbcType="VARCHAR"  />
        <result column="deleted"        property="deleted"      jdbcType="INTEGER"  />
    </resultMap>

    <resultMap id="ResultMap" type="com.zzh.entity.User">
        <id     column="user_id"        property="userId"       jdbcType="INTEGER"  />
        <result column="created_date"   property="createdDate"  jdbcType="TIMESTAMP"/>
        <result column="created_by"     property="createdBy"    jdbcType="VARCHAR"  />
        <result column="modified_date"  property="modifiedDate" jdbcType="TIMESTAMP"/>
        <result column="modified_by"    property="modifiedBy"   jdbcType="VARCHAR"  />
        <result column="deleted"        property="deleted"      jdbcType="INTEGER"  />
        <result column="username"       property="userName"     jdbcType="VARCHAR"  />
        <result column="password"       property="password"     jdbcType="VARCHAR"  />
        <result column="salt"           property="salt"         jdbcType="VARCHAR"  />
        <result column="locked"         property="locked"       jdbcType="INTEGER"  />
        <association property="organization" resultMap="OrgMap" />
        <collection property="roles" ofType="com.zzh.entity.Role">
            <id     column="role_id"        property="roleId"       jdbcType="INTEGER"  />
            <result column="role_name"      property="roleName"     jdbcType="VARCHAR"  />
            <result column="description"    property="description"  jdbcType="VARCHAR"  />
            <result column="available"      property="available"    jdbcType="INTEGER"  />
            <result column="created_date"   property="createdDate"  jdbcType="TIMESTAMP"/>
            <result column="created_by"     property="createdBy"    jdbcType="VARCHAR"  />
            <result column="modified_date"  property="modifiedDate" jdbcType="TIMESTAMP"/>
            <result column="modified_by"    property="modifiedBy"   jdbcType="VARCHAR"  />
            <result column="deleted"        property="deleted"      jdbcType="INTEGER"  />
        </collection>
    </resultMap>

    <resultMap id="SimpleResultMap" type="com.zzh.entity.User">
        <id     column="user_id"        property="userId"       jdbcType="INTEGER"  />
        <result column="created_date"   property="createdDate"  jdbcType="TIMESTAMP"/>
        <result column="created_by"     property="createdBy"    jdbcType="VARCHAR"  />
        <result column="modified_date"  property="modifiedDate" jdbcType="TIMESTAMP"/>
        <result column="modified_by"    property="modifiedBy"   jdbcType="VARCHAR"  />
        <result column="deleted"        property="deleted"      jdbcType="INTEGER"  />
        <result column="username"       property="userName"     jdbcType="VARCHAR"  />
        <result column="locked"         property="locked"       jdbcType="INTEGER"  />
    </resultMap>

    <sql id="user_column">
        user_id, username, locked, created_date, created_by, modified_date, modified_by
    </sql>

    <select id="findOne" parameterType="java.lang.Long" resultMap="SimpleResultMap">
        SELECT <include refid="user_column" />
        FROM sys_user
        WHERE user_id = #{userId}
        AND deleted = 0
    </select>

    <select id="findOneWithDetail" parameterType="java.lang.Long" resultMap="ResultMap">
        SELECT *
        FROM sys_user u
        LEFT JOIN sys_user_role ur ON u.user_id = ur.user_id
        LEFT JOIN sys_role r ON ur.role_id = r.role_id
        LEFT JOIN sys_organization o ON o.id = u.organization_id
        WHERE u.user_id = #{userId}
        AND u.deleted = 0
        AND r.available = 1
        AND r.deleted = 0
    </select>

    <select id="findCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_user
        WHERE deleted = 0
    </select>

    <select id="findList" parameterType="com.zzh.entity.Page" resultMap="SimpleResultMap">
        SELECT <include refid="user_column" />
        FROM sys_user
        WHERE deleted = 0
        ORDER BY user_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="findCountByStatus" parameterType="java.lang.Boolean" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_user
        WHERE deleted = 0
        AND locked = #{0}
    </select>

    <select id="findListByStatus" parameterType="com.zzh.entity.dto.SelectPageDto" resultMap="SimpleResultMap">
        SELECT *
        FROM (
            SELECT <include refid="user_column" />
            FROM sys_user
            WHERE deleted = 0
            AND locked = #{param}
            ORDER BY user_id DESC
        ) a
        LIMIT #{offset}, #{pageSize}
    </select>

    <update id="deleteOne" parameterType="java.lang.Long">
        UPDATE sys_user
        SET deleted = 1
        WHERE user_id = #{userId}
    </update>

    <update id="resetPwd">
        UPDATE sys_user
        SET password = 'd3c59d25033dbf980d29554025c23a75'
        WHERE user_id = #{userId}
    </update>

    <update id="updateOne" parameterType="com.zzh.entity.dto.UserSaveDto">
        UPDATE sys_user
        SET username = #{userName}, locked = #{locked}, organization_id = #{organizationId}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteUserRole" parameterType="java.lang.Long">
        DELETE FROM sys_user_role WHERE user_id = #{id}
    </delete>

    <insert id="insertUserRole" parameterType="java.util.List">
        INSERT INTO sys_user_role VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId}, #{item.roleId})
        </foreach>
    </insert>

    <select id="selectForLogin" parameterType="java.lang.String" resultMap="SimpleResultMap">
        SELECT *
        FROM sys_user
        WHERE username = #{0}
        AND deleted = 0
    </select>

</mapper>